.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
<<<<<<< HEAD
    animation: App-logo-float infinite 3s ease-in-out;
=======
    animation: App-logo-spin infinite 20s linear;
>>>>>>> ed7e19d96f9b9d227a65bbcbab9fd453af4dd6bd
  }
}

.App-header {
<<<<<<< HEAD
=======
  background-color: #282c34;
>>>>>>> ed7e19d96f9b9d227a65bbcbab9fd453af4dd6bd
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
<<<<<<< HEAD
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
=======
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
>>>>>>> ed7e19d96f9b9d227a65bbcbab9fd453af4dd6bd
  }
}
